p{font-family: monospace;}
h1{color: orangered;font-family: monospace;font-size: 25px}
h2{color: blueviolet;font-family: monospace;font-size: 30px}
td {border: 1px solid black;border-collapse: collapse;}
